<div class="wrapper">
  <button appPopover position="left" [content]="fallbackPositionWarning" class="button_color_blue">left tooltip</button>
  <button appPopover position="right" [content]="tmp" class="button_color_yellow">right tooltip</button>
</div>

<div class="wrapper">
  <button appPopover position="top" [content]="fallbackPositionWarning" class="button_color_green">top tooltip</button>
  <span>Содержимое popover - строка</span>
  <span>{{fallbackPositionDescription}}</span>
  <button appPopover position="top" [content]="fallbackPositionWarning" class="button_color_green">top tooltip</button>
</div>

<div class="wrapper">
  <button appPopover position="bottom" [content]="tmp" class="button_color_red">bottom tooltip</button>
  <span>Содержимое popover - template</span>
  <button appPopover position="bottom" [content]="tmp" class="button_color_red">bottom tooltip</button>
</div>

<div class="wrapper">
  <button appPopover position="top-right" [content]="fallbackPositionWarning" class="button_color_green">top-right tooltip</button>
  <span>Контент не помещается во viewport</span>
  <button appPopover position="top-right" [content]="tmp" class="button_color_green">top-right tooltip</button>
  <button appPopover position="bottom-right" [content]="tmp" class="button_color_blue">bottom-right tooltip</button>
  <span>Контент не помещается во viewport</span>
  <button appPopover position="bottom-right" [content]="fallbackPositionWarning" class="button_color_blue">bottom-right tooltip</button>
</div>

<div class="wrapper">
  <button appPopover position="top-left" [content]="fallbackPositionWarning" class="button_color_red">top-left tooltip</button>
  <span>Контент не помещается во viewport</span>
  <button appPopover position="top-left" [content]="tmp" class="button_color_red">top-left tooltip</button>
  <button appPopover position="bottom-left" [content]="tmp" class="button_color_yellow">bottom-left tooltip</button>
  <span>Контент не помещается во viewport</span>
  <button appPopover position="bottom-left" [content]="fallbackPositionWarning" class="button_color_yellow">bottom-left tooltip</button>
</div>

<div class="wrapper">
  <span>Доступен hover на popover</span>
  <button appPopover position="left"
          [popoverHoverEnabled]="true"
          [content]="tmp"
          class="button_color_blue">left tooltip hover popover</button>
  <button appPopover position="right" [content]="fallbackPositionWarning" class="button_color_yellow">right tooltip</button>
</div>


<ng-template #tmp>
  <span class="text__color_light">Назначенные роли:</span>
    Администратор
    <a href="#">Оператор</a>
</ng-template>
