/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 100px;
  box-sizing: border-box;
  font-family: "Calibri Light";
}
